.article{
  position: relative;

  .article-wrapper{
    background: #fff;
    height: 100%;
    padding: 30px;
    .title{
      text-align: center;
      .time{
        margin-left: 20px;
      }
    }
    .article-detail{
    }
  }
}
